/**
 * Custom CSS
 * Use this file to override styles if you feel uncomfortable editing
 * component stylesheets.
 ============================================================================ */
.site-branding__logo-img{
  width: 100px;
}
.node_title{
  display: none;
}

.attribution__link{
  display: none;
}
