{#
/**
 * Layout provider: page-layout
 * Template suggestion: page
 * Theme: adam_logan
 * Generated on: Thu, 22 Mar 18 15:44:12 -0500
 */
#}
{{ attach_library('adam_logan/adam_logan.layout.page') }}
<div{{ attributes }}>
  {{ rows }}
  {{ attribution }}
</div>
